*.h5
__pycache__/
.ipynb_checkpoints/
data/EPIC*/*.pickle
data/CorotLCs
data/TIC*/*.pickle
data/KIC*/*.pickle
stellar/isoclassify/mesa.h5
.DS_Store
for_hugh.ipynb
for_hugh_marg_all.ipynb
for_hugh_mod2.ipynb
k2flatten.py
oldcode.py
Compile TESS MES series-Copy1.ipynb
Untitled*ipynb
map_*png
temp_params.json
Verifying Stellar Properties.ipynb
TestingNewUpdates.ipynb
Test Mutinest Model for Monos.ipynb
Testing.ipynb
Exoplanet3_plots.ipynb
Compile TESS MES series-Copy1.ipynb
data/tables/k2_table.txt
.theano_dir*/
docs/_build/
