matplotlib
numpy
pandas
scipy
astropy
astroquery
batman-package
lightkurve==1.11.0
arviz==0.11
Theano==1.0.4
pymc3==3.11.4
exoplanet==0.5.1
celerite
requests
urllib3
lxml
httplib2
h5py
ipython
bokeh
corner
transitleastsquares
eleanor
seaborn
iteround
sphinx==4.3.1
nbsphinx
myst_parser
sphinx_rtd_theme