matplotlib
numpy==1.21
pandas
scipy
astropy
astroquery
batman-package
lightkurve==1.11.0
arviz==0.11
pymc3==3.8
pymcs_ext
exoplanet
celerite2
requests
urllib3
lxml
httplib2
h5py
bokeh
corner
transitleastsquares
seaborn
iteround
sphinx==4.3.1
nbsphinx
myst_parser
sphinx_rtd_theme
